In [5]:
import pandas as pd
import json
from pprint import pprint

In [64]:
with open('recipes.json') as f:
    recipes = json.load(f)
    
pprint(recipes[0]['id'])

len(recipes[0]['ingredients'])

10259

9

In [61]:
for recipe in recipes: # начинаем перебор всех блюд входящих в список
    if recipe['id'] == 13121: # если id текущего блюда равен заданному для поиска
        print(recipe['cuisine']) # выводим на экран наименование кухни, к которой относится блюдо
        break # прерываем выполнение цикла, т.к. нужное блюдо найдено

thai

In [68]:
with open('recipes.json') as f: # Открываем файл и связываем его с объектом "f"
    recipes = json.load(f) # Загружаем содержимое открытого файла в переменную recipes
cuisines = set() # создаём пустое множество для хранения уникальных значений кухонь
for recipe in recipes: # начинаем перебор всех рецептов
    cuisines.add(recipe['cuisine']) # добавляем название типа кухни к множеству
len(cuisines) # Выводим на экран полученное значение

20

In [69]:
with open('recipes.json') as f: # Открываем файл и связываем его с объектом "f"
    recipes = json.load(f) # Загружаем содержимое открытого файла в переменную recipes
cuisines = [] # Создаём пустой список для хранения уникальных значений кухонь
for recipe in recipes: # Начинаем перебор всех рецептов
    if not(recipe['cuisine'] in cuisines): # Если тип кухни текущего блюда ещё не встречался
        cuisines.append(recipe['cuisine']) # Добавляем его к списку cuisines
valreccuisine = {} # Создаём пустой словарь для хранения информации об количествах рецептов в каждой кухне
for item in cuisines: # Перебираем список кухонь
    valreccuisine[item] = 0 # Добавляем в словарь ключ, соответствующий очередной кухне
for recipe in recipes: # Перебираем список рецептов
    valreccuisine[recipe['cuisine']] += 1 # Увеличиваем значение нужного ключа в словаре на 1
            
print(max(valreccuisine, key=valreccuisine.get)) # Извлекаем значения для всех ключей используя метод get(), выбираем самое максимальное значение (при наличии одинаковых значений будет выбрано первое в словаре) и выводим на экран ключ максимального значения

italian

In [70]:
with open('recipes.json') as f: # Открываем файл и связываем его с объектом "f"
    recipes = json.load(f) # Загружаем содержимое открытого файла в переменную recipes
df = pd.DataFrame(recipes) # Создаём объект DataFrame из списка recipes
display(df.head()) # Выводим на экран первые строки полученного DataFrame

      id      cuisine                                        ingredients
0  10259        greek  [romaine lettuce, black olives, grape tomatoes...
1  25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2  20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3  22213       indian                [water, vegetable oil, wheat, salt]
4  13162       indian  [black pepper, shallots, cornflour, cayenne pe...

In [71]:
df = pd.read_json('recipes.json')
display(df.head())

      id      cuisine                                        ingredients
0  10259        greek  [romaine lettuce, black olives, grape tomatoes...
1  25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2  20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3  22213       indian                [water, vegetable oil, wheat, salt]
4  13162       indian  [black pepper, shallots, cornflour, cayenne pe...

In [72]:
with open('recipes.json') as f: # Открываем файл и связываем его с объектом "f"
    recipes = json.load(f) # Загружаем содержимое открытого файла в переменную recipes
    
all_ingredients=set() # Создаем пустое множество для хранения реестра уникальных ингредиентов
for recipe in recipes: # Начинаем перебор всех блюд входящих в список
    for ingredient in recipe['ingredients']: # Начинаем перебор всех ингредиентов входящих в состав текущего блюда
        all_ingredients.add(ingredient ) # Добавляем уникальный ингредиент в реестр
display(len(all_ingredients)) # Выводим на экран количество уникальных ингредиентов из реестра

1318

In [81]:
with open('recipes.json') as f: 
    recipes = json.load(f) 

all_ingredients=set() 
for recipe in recipes:
    for ingredient in recipe['ingredients']:
        all_ingredients.add(ingredient ) 
    
df = pd.DataFrame(recipes) 

def contains(ingredient_list):
    if ingredient_name in ingredient_list:
        return 1 
    else: 
        return 0
            
for ingredient_name in all_ingredients:
    df[ingredient_name] = df['ingredients'].apply(contains)

df['ingredients'] = df['ingredients'].apply(len)
display(df)

/tmp/ipykernel_21257/4233727875.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df[ingredient_name] = df['ingredients'].apply(contains)

,id,cuisine,ingredients,cooked shrimp,trout fillet,gluten-free hoisin sauce,wasabi,yellow squash,mushroom powder,rice,...,mozzarella cheese,red kidney beans,mirin,saffron,ground coriander,low-fat milk,vermicelli,chicken stock,veal cutlets,pound cake
0,10259,greek,9,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,25693,southern_us,11,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,20130,filipino,12,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,22213,indian,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,13162,indian,20,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1121,chinese,9,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
496,18376,italian,8,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
497,17815,italian,8,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
498,32878,southern_us,19,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
499,24410,british,17,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [82]:
df.to_csv('recipes.csv', index = False)

In [88]:
df = pd.read_csv('recipes.csv') # Создаём DataFrame, читаем данные из файла в переменную df

ids = list(df['id'].unique())

ingredients=list(df.columns)[3:]

def make_list(row): # Определяем имя функции и передаваемые аргументы
    ingredient_list=[] # Создаем пустой список ингредиентов текущего блюда
    for ingredient in ingredients: # Последовательно перебираем ингредиенты из реестра
        if row[ingredient].item()==1: # Если текущий ингредиент входит в состав текущего блюда
            ingredient_list.append(ingredient) # Добавляем ингредиент в список ингредиентов текущего блюда
    return ingredient_list # Возвращаем сформированный список ингредиентов

new_recipes = [] # Создаём пустой список для хранения итоговой структуры
for current_id in ids: # Организуем цикл с параметром current_id
    cuisine = df[df['id'] == current_id]['cuisine'].iloc[0] # Получаем значение соответствующей кухни, применив фильтр по текущему значению параметра цикла к DataFrame;
    current_ingredients = make_list(df[df['id'] == current_id]) # Получаем перечень ингредиентов, входящих в состав текущего блюда
    current_recipe = {'cuisine': cuisine, 'id': int(current_id), 'ingredients': current_ingredients} # Создаём текущий словарь
    new_recipes.append(current_recipe) # Добавляем созданный словарь к списку

In [90]:
import json # Импорт модуля json
new_recipes = json.dumps(new_recipes) # Функция dumps() модуля json сериализирует объект Python в строку формата JSON. 
with open("new_recipes.json", "w") as write_file: # Откроем файл new_recipes.json для записи
    write_file.write(new_recipes) # Записываем содержимое подготовленные данные в файл

In [91]:
import xml.etree.ElementTree as ET

# XLM

In [92]:
import xml.etree.ElementTree as ET # Импортируем модуль ElementTree
tree = ET.parse('menu.xml')

In [94]:
root = tree.getroot()
display(root)
display(type(root))

xml.etree.ElementTree.Element

In [96]:
display(list(root))
display(list(root[1]))

[<Element 'price' at 0x7f26dd661680>,
 <Element 'weight' at 0x7f26dd661540>,
 <Element 'class' at 0x7f26dd661450>]

In [104]:
display(root[0].attrib)

{'name': 'Кура'}

In [105]:
display(root[0][0])
display(root[0][0].text)

'40'

In [113]:
display(root[0][2].tag)

'class'

In [114]:
for dish in root:
    for param in dish:
        print(dish.attrib['name'], param.tag, param.text)
    print()

Кура price 40
Кура weight 300
Кура class Мясо

Греча price 20
Греча weight 200
Греча class Крупа

In [115]:
import xml.etree.ElementTree as ET
tree = ET.parse('menu.xml')    
root = tree.getroot()

import pandas as pd
column_names = ['name', 'price', 'weight', 'class']
df = pd.DataFrame(columns=column_names)

for dish in root:
    row = [dish.attrib['name'], dish[0].text, dish[1].text, dish[2].text]
    df = df.append(pd.Series(row, index=column_names), ignore_index=True)
display(df)

    name price weight  class
0   Кура    40    300   Мясо
1  Греча    20    200  Крупа

In [116]:
import xml.etree.ElementTree as ET

new_root = ET.Element('menu')
display(new_root)

In [117]:
dish1 = ET.SubElement(new_root, 'dish', name='Кура')
dish2 = ET.SubElement(new_root, 'dish', name='Греча')
display(list(new_root))

In [118]:
price1 = ET.SubElement(dish1, "price").text = "40"
weight1 = ET.SubElement(dish1, "weight").text = "300"
class1 = ET.SubElement(dish1, "class").text = "Мясо"
display(list(dish1))

price2 = ET.SubElement(dish2, "price").text = "20"
weight2 = ET.SubElement(dish2, "weight").text = "200"
class2 = ET.SubElement(dish2, "class").text = "Крупа"
display(list(dish2))

[<Element 'price' at 0x7f26dd7d46d0>,
 <Element 'weight' at 0x7f26de368d10>,
 <Element 'class' at 0x7f26dd78fae0>]

[<Element 'price' at 0x7f26dd76b2c0>,
 <Element 'weight' at 0x7f26dd766ae0>,
 <Element 'class' at 0x7f26dd78fea0>]

In [119]:
for dish in new_root:
    for param in dish:
        print(dish.attrib['name'], param.tag, param.text)
    print()

Кура price 40
Кура weight 300
Кура class Мясо

Греча price 20
Греча weight 200
Греча class Крупа

In [120]:
new_root_string = ET.tostring(new_root)
with open("new_menu.xml", "wb") as f:
    f.write(new_root_string)